*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif; /* Windows 98 font */
}

body{
    background-color: #38424C;
}

container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    width: 100%;
    background-image: url(../img/fechaEstreno.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #38424C;
}

#divContador{
    padding-top: 100px;
}