*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma", sans-serif; /* Windows 98 font */
}

body{
    background-color: #38424C;
}

container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    height: 195px;
    width: 100%;
}

.contenedorMensaje{
    display: flex;
    flex-direction: column;
    background-color: #C1C1C2;
}

.filaError{
    background-color: #0E10CA;
    color: white;
    padding: 1vh 2vw;
}

.filaMensaje{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 2vh;
}

#igLogo{
    margin-top: 5vh;
    height: 75px;
    width: 75px;
}