*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #38424C;
}

.tablero{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin-top: 20vh;
}

.pieza{
    width: 100%; 
    height: auto;
    cursor: pointer;
    border-radius: 4px;
    /* box-shadow: 3px 3px; */
}

.pieza img{
    width: 100%;
    height: auto;
    display: block;
}


.contenedorBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#botonEmpezar{
    border-radius: 20px;
    font-size: 40px;
    font-weight: 600;
    border: none;
    padding: 8px 28px;
}